
{% assign enroute_product = all_products[settings.enroute_product] %}
{% assign id = enroute_product.variants.first.id %}
{% assign price = enroute_product.price | money %}

{% assign id1 = enroute_product.variants.first.id %}
{% assign price1 = enroute_product.price | money %}

{% assign threshold_2 = settings.threshold_2 | plus: 0 %}
{% assign enroute_product_2 = all_products[settings.enroute_product_2] %}
{% assign enroute_product_2_price = enroute_product_2.price | money %}
{% assign enroute_product_2_id = enroute_product_2.variants.first.id %}

{% assign threshold_3 = settings.threshold_3 | plus: 0 %}
{% assign enroute_product_3 = all_products[settings.enroute_product_3] %}
{% assign enroute_product_3_price = enroute_product_3.price | money %}
{% assign enroute_product_3_id = enroute_product_3.variants.first.id %}

{% assign threshold_4 = settings.threshold_4 | plus: 0 %}
{% assign enroute_product_4 = all_products[settings.enroute_product_4] %}
{% assign enroute_product_4_price = enroute_product_4.price | money %}
{% assign enroute_product_4_id = enroute_product_4.variants.first.id %}

{% assign total_price = cart.total_price | divided_by: 100 %}

{% if total_price >= threshold_2 and total_price < threshold_3 %}
  {% assign enroute_product = enroute_product_2 %}
  {% assign price = enroute_product_2_price %}
  {% assign id = enroute_product_2_id %}
{% elsif total_price >= threshold_3 and total_price < threshold_4 %}
  {% assign enroute_product = enroute_product_3 %}
  {% assign price = enroute_product_3_price %}
  {% assign id = enroute_product_3_id %}
{% elsif total_price >= threshold_4 %}
  {% assign enroute_product = enroute_product_4 %}
  {% assign price = enroute_product_4_price %}
  {% assign id = enroute_product_4_id %}
{% endif %}

<!--ajax cart modal-->
<div class="ajax-cart__modal js-ajax-cart-modal">

  <div class="ajax-cart-modal">

    <!--ajax cart modal close-->
    <div class="ajax-cart-modal__close js-ajax-cart-modal-close">
      x
    </div>
    <!--end ajax cart modal close-->

    <!--ajax cart modal content-->
    <div class="ajax-cart-modal__content js-ajax-cart-modal-content"></div>
    <!--end ajax cart modal content-->

  </div>

</div>
<!--end ajax cart modal-->

<!--ajax cart drawer-->
<div class="ajax-cart__drawer js-ajax-cart-drawer">

  <div class="ajax-cart-drawer">
    <div class="ajax-cart-drawer__frame">

      <!--ajax cart drawer close-->
      <div class="drawer-header js-ajax-cart-drawer-close">
        <h2 class="cart-header__title">{{ 'cart.general.title' | t }}</h2>
        <div class="continue-shopping-wrapper">
          <span class="ajax-cart-drawer__close js-ajax-cart-drawer-close-trigger"> <i class="close-icon"></i></span>
        </div>
      </div>
      <!--end ajax cart drawer close-->

      <!--ajax cart drawer content-->
      <div class="ajax-cart-drawer__content js-ajax-cart-drawer-content"></div>
      <!--end ajax cart drawer content-->

      {% if settings.enroute_product != blank %}
        {% assign enroute_product = all_products[settings.enroute_product] %}
        <div class="ajax-cart-summary ajax-cart-enroute">
          <span class="title">EnRoute Shipping Coverage</span>
          <div id="is-a-gift" style="clear: left;" class="is-a-gift clearfix">
            <p>
              <label class="label-checkbox tt" for="enroute">
                <input id="enroute" type="checkbox" name="attributes[enroute]" value="yes" style="float: none" />
                <span class="fake-checkbox"></span>
                Add AROMATECH Full Coverage Shipping Insurance for <span class="enroute-price">{{ price }}</span>
                <span class="tooltiptext">Optional full shipping coverage starting at a low fee that effortlessly resolve any shipment issues. Lost, damaged, or stolen items are easily taken care of by contacting our Customer Service.</span>
              </label>
            </p>
          </div>
        </div>

        {% assign id = enroute_product.variants.first.id %}

        {% assign gift_wraps_in_cart = 0 %}
        {% for item in cart.items %}
          {% if item.id == id %}
            {% assign gift_wraps_in_cart = item.quantity %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <style>
        #updates_{{ id }} { display: none; }
      </style>

      <div class="ajax-cart-summary order-summary">
        <span class="title">{{ 'cart.general.order_summary' | t }}</span>
        <ul>
          <li>
            <span>{{ 'cart.general.shipping' | t }}</span>
            <span>Shipping calculated at checkout</span>
          </li>
          <li>
            <span>{{ 'cart.general.tax' | t }}</span>
            {% comment %} <span>{{ taxes }}</span> {% endcomment %}
            <span>Estimated at checkout</span>
          </li>
        </ul>
      </div>

      <div class="note-wrapper">
        <textarea name="note" placeholder="ORDER NOTES"></textarea>
      </div>

      <div class="agree_to_terms_wrapper">
        <label class="checkbox-wrapper">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>

        <span class="agreement_text">Agree to <a href="#terms-popup-wrapper" class="terms-popup-trigger">terms and conditions</a> *</span>
      </div>

      <!--ajax cart drawer buttons-->
      <div class="ajax-cart-drawer__buttons disabled">
        <a href="/checkout/" class="button button--black button--full-width js-button js-ajax-checkout-button">
          <span>checkout</span>
        </a>
      </div>

      <a href="/cart" class="ajax-to-cart">Continue to cart page</a>
      <!--end ajax cart drawer buttons-->

    </div>
  </div>

</div>
<!--end ajax cart drawer-->

<!--ajax cart overlay-->
<div class="ajax-cart__overlay js-ajax-cart-overlay"></div>
<!--end ajax cart overlay-->



<script>


  $(document).ready(function() {

    if (!$('body').hasClass('template-product') && !$('body').hasClass('template-cart')) {

      console.log('activated')

      Shopify.Cart = Shopify.Cart || {};
      Shopify.Cart.GiftWrap = {};

      var product = {{id}};

      var priceIt = '{{price}}';

      var flagO = true;

      var flagI = true;

      function recalcEnroute(flagChangeO,flagChangeI) {

        if (flagChangeO !== undefined) {
          flagO = true;
        }

        if (flagChangeI !== undefined) {
          flagI = true;
        }

        setTimeout(function(){
          jQuery.getJSON('/cart.js', function(cart) {

            var total_price = cart.total_price / 100;
            var threshold_2 = {{ threshold_2 }};

            if (total_price < {{threshold_2}}) {
              product = {{id1}};
              priceIt = '{{price1}}';
              console.log('rmv 0')
            } else if (total_price > {{threshold_2}} && total_price < {{threshold_3}}) {
              product = {{enroute_product_2_id}};
              priceIt = '{{enroute_product_2_price}}';
              if (flagO == true) {
                console.log('changing tw')
                if ($('div#is-a-gift .tt').hasClass('m-active')) {
                  $('div#is-a-gift .tt').removeClass('m-active');
                  console.log('rmv 1')
                }
                flagO = false;
              }
            } else if (total_price > {{threshold_3}} && total_price < {{threshold_4}}) {
              console.log('TESTEST3')
              product = {{enroute_product_3_id}};
              priceIt = '{{enroute_product_3_price}}';
              if (flag0 == true) {
                console.log('changing thr')
                if ($('div#is-a-gift .tt').hasClass('m-active')) {
                  $('div#is-a-gift .tt').removeClass('m-active');
                  console.log('rmv 2')
                }
                flag0 = false;
              }
            } else if (total_price > {{threshold_4}}) {
              console.log('TESTEST')
              product = {{enroute_product_4_id}};
              priceIt = '{{enroute_product_4_price}}';

              if (flag0 == true) {
                console.log('changing tw')
                if ($('div#is-a-gift .nt').hasClass('m-active')) {
                  $('div#is-a-gift .nt').removeClass('m-active');
                  console.log('rmv 1')
                }
                flag0 = false;
              }
            }

            $('#is-a-gift label.tt').html('<input id="enroute" type="checkbox" name="attributes[enroute]" value="yes" style="float: none" /><span class="fake-checkbox"></span>Add AROMATECH Full Coverage Shipping Insurance for <span class="enroute-price">' + priceIt + '</span><span class="tooltiptext">Optional full shipping coverage starting at a low fee that effortlessly resolve any shipment issues. Lost, damaged, or stolen items are easily taken care of by contacting our Customer Service.</span>');
          });
        }, 700);

      }

      $(document).on("click",".ajax-cart-item__quantity-button",function(event) {
        recalcEnroute(true,true)
      });


      $(document).on("click",".js-ajax-remove-from-cart",function(event) {
        recalcEnroute()
      });

      Shopify.Cart.GiftWrap.remove2 = function() {

        let nubmerCr = parseInt(product);

        let rmIte = $('.cart__row[data-id="'+nubmerCr+'"]');

        $('.ajax-cart-summary.ajax-cart-enroute').addClass('m-stack')
        jQuery.ajax({
          type: 'POST',
          url: '/cart/change.js',
          data: { quantity: 0, id: nubmerCr },
          dataType: 'json',
          success: function() {
            fetchCart();
            setTimeout(function(){
              $('.ajax-cart-summary.ajax-cart-enroute').removeClass('m-stack')
            }, 700);
          }
        });
      }

      Shopify.Cart.GiftWrap.set2 = function() {

        var headers = new Headers({ 'Content-Type': 'application/json' });

        var indexCr = $('.cart tbody .cart__row').length;

        let nubmerCr = parseInt(product);
        $('.ajax-cart-summary.ajax-cart-enroute').addClass('m-stack')
        $.ajax({
          type: 'POST',
          url: '/cart/add.js',
          data: {
            quantity: 1,
            id: nubmerCr,
            properties: { 'enroute': true }
          },
          dataType: 'json',
          success: function (locProduct) {
            fetchCart();
            setTimeout(function(){
              $('.ajax-cart-summary.ajax-cart-enroute').removeClass('m-stack')
            }, 700);
          }
        });

      }

      $.fn.hasAttr = function(name) {
        return this.attr(name) !== undefined;
      };

      $('.cart-table .cart__row').each(function (){
        let crItm = $(this)
        if (crItm.attr('data-enroute') == true){
          $('div#is-a-gift .tt').addClass('m-active');
          $('div#is-a-gift .tt #enroute').prop('checked', true);
          console.log('ajx2')
        }
      });


      $(document).on("change","div#is-a-gift .tt #enroute",function(event) {
        if ($('div#is-a-gift .tt').hasClass('m-active')) {
          Shopify.Cart.GiftWrap.remove2();
          $('div#is-a-gift .tt').removeClass('m-active');
          setTimeout(function() {
            let counterCart = parseInt($('.js-ajax-cart-counter-header').text())
            if (counterCart < 1) {
              $('.site-header__cart-count').addClass('_hide')
            }
          }, 700);
        } else {
          Shopify.Cart.GiftWrap.set2();
          $(' div#is-a-gift .tt').addClass('m-active');
          console.log('ajx3')
        }
        recalcEnroute()
      });

      recalcEnroute()
    }


  })

</script>