{%- assign collectionCalled = collection -%}

{%- assign collectionOriginal = collections[collectionCalled] -%}

{%- assign max_height = 261 -%}

<ul class="grid grid--uniform grid--view-items owl-carousel owl-theme custom-slider custom-slider-{{collectionCalled}}"
  data-items="4">
  {% for product in collectionOriginal.products limit: product_limit %}
    {% if product.available %}
      <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
        {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor%}
        <form>
          <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          <div class="custom-add-to-cart">
            <button name="add"> <a href="{{ product.url}}" target="blank">Add to cart - {% include 'product-price'
                %}</a></button>
          </div>
        </form>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<script type="text/javascript">
  $(document).ready(function () {
    $(window).resize(function () {

      if ($(window).width() > 750) {

      } else {
        console.log($(window).width());
        var owl = $('.owl-carousel');
        //owl.trigger('destroy.owl.carousel');
        owl.addClass('off');
      }
    });
  });
  if ($(window).width() > 767) {
    $('.custom-slider-{{collectionCalled}}').owlCarousel({
      loop: true,
      nav: true,
      margin: 10,
      responsiveClass: true,
      responsive: {
        0: {
          items: 2,
          nav: true,
          loop: true
        },
        600: {
          items: 4,
          nav: true,
          loop: true
        },
        1000: {
          items: 5,
          loop: true,
          margin: 0,
        },
        1100: {
          items: 5,
          loop: true,
          margin: 10,
        }
      }
    });
  }
</script>