{% comment %}
    Renders a pagination bar

    Accepts:
    - paginate: {Object} Paginate Liquid object (required)

    Usage:
    {% include 'pagination', paginate: paginate %}
{% endcomment %}

<ul class="pagination-wrapper">
  {% if paginate.previous.is_link %}
    <li>
      <a href="{{ paginate.previous.url }}">
        {% include 'pagi-left' %}
      </a>
    </li>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <li>
        <a href="{{ part.url }}">{{ part.title }}</a>
      </li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="active">
          <span>{{ part.title }}</span>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next.is_link %}
    <li>
      <a href="{{ paginate.next.url }}">
        {% include 'pagi-right' %}
      </a>
    </li>
  {% endif %}
</ul>
