<div class="shopify-section">
  <div class="page-width2">
    <div class="section-header text-center">
      <h1 class="h4">{{ 'customer.account.title' | t }}</h1>
      {{ 'layout.customer.log_out' | t | customer_logout_link }}
    </div>

    <div class="myaccount-wrapper">
      <div class="myaccount-order-history">
        <h2 class="h6">{{ 'customer.orders.title' | t }}</h2>

        {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

        <table class="responsive-table">
          <thead>
            <tr>
              <td scope="col">{{ 'customer.orders.order_number' | t }}</td>
              <td scope="col">{{ 'customer.orders.date' | t }}</td>
              <td scope="col">{{ 'customer.orders.payment_status' | t }}</td>
              <td scope="col">{{ 'customer.orders.fulfillment_status' | t }}</td>
              <td class="text-right" scope="col">{{ 'customer.orders.total' | t }}</td>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
            <tr>
              <td data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                <a href="{{ order.customer_url }}" class="order-number"
                  aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
              </td>
              <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
              <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
              <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
              <td class="total text-right" data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money
                }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% else %}

        <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate %}
        {%- endif -%}
        {% endpaginate %}
      </div>
      <div class="myaccount-account-details">
        <h2 class="h6">{{ 'customer.account.details' | t }}</h2>

        <div class="my-account-name-email">
          <span class="customer-name">{{ customer.name }}</span><br>
          <span class="customer-email"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></span>
        </div>

        {% for address in customer.addresses %}
        <div class="my-account-info">
          <span>{{ address.address1 }}</span>
          <span> {{ address.address2 }}</span>
          <span>{{ address.city }}</span>
          <span> {{ address.country_code }},{{ address.province_code }}</span>
          <span>{{ 'customer.addresses.phone' | t }}: {{ address.phone }}</span>
        </div>
        {% endfor %}
        <p><a href="{{ routes.account_addresses_url }}" class="view-addresses-link"><b>{{
              'customer.account.view_addresses' | t }}</b> <span>({{ customer.addresses_count }})</span></a></p>
      </div>
    </div>
    {% section 'my-acc-slider' %}
  </div>
</div>