{% paginate customer.addresses by 5 %}

<div class="page-width2 text-center">
  <header class="section-header">
    <h1 class="h4">{{ 'customer.addresses.title' | t }}</h1>
    <p><a class="return_link" href="{{ routes.account_url }}">{{ 'customer.account.return' | t }}</a></p>
    <p>

    </p>
  </header>
</div>

<div class="page-width2">
  <div class="grid">
    <div class="grid__item medium-up--two-thirds medium-up--push-one-sixth">

      {% comment %}
      List all customer addresses with a unique edit form.
      Also add pagination in case they have a large number of addresses
      {% endcomment %}
      <div class="myaccount-account-details">
        <ul>
          {% for address in customer.addresses %}
          <li>
            <div class="address text-center">
              {% if address == customer.default_address %}
              <h2 class="h6">{{ 'customer.addresses.default' | t }}</h2>
              {% endif %}
              <div class="my-account-name-email">
                <span class="customer-name">{{ address.name }}</span><br>
                <span class="customer-email"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></span>
              </div>
              <div class="my-account-info">
                <span>{{ address.address1 }}</span>
                <span> {{ address.address2 }}</span>
                <span>{{ address.city }}</span>
                <span> {{ address.country_code }},{{ address.province_code }}</span>
                <span>{{ 'customer.addresses.phone' | t }}: {{ address.phone }}</span>
              </div>
              <ul class="list--inline">
                <li>
                  <button id="EditFormButton_{{ address.id }}" type="button" class="btn_link address-edit-toggle"
                    data-form-id="{{ address.id }}" aria-owns="EditAddress_{{ address.id }}" aria-expanded="false">
                    {{ 'customer.addresses.edit' | t }}
                  </button>
                </li>
                <li>
                  <button type="button" class="btn_link address-delete" data-target="{{ address.url }}"
                    data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                    {{ 'customer.addresses.delete' | t }}
                  </button>
                </li>
              </ul>
            </div>
            <div id="EditAddress_{{ address.id }}" class="form-vertical hide addressEditForm">
              {% form 'customer_address', address %}

              <h3 class="h6">{{ 'customer.addresses.edit_address' | t }}</h3>

              <div class="grid">
                <div class="grid__item medium-up--one-half">
                  <label class="hidden" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t
                    }}</label>
                  <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]"
                    value="{{ form.first_name }}" autocomplete="given-name"
                    placeholder="{{ 'customer.addresses.first_name' | t }}">
                </div>

                <div class="grid__item medium-up--one-half">
                  <label class="hidden" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t
                    }}</label>
                  <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]"
                    value="{{ form.last_name }}" autocomplete="family-name"
                    placeholder="{{ 'customer.addresses.last_name' | t }}">
                </div>
              </div>

              <label class="hidden" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
              <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}"
                autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">

              <label class="hidden" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
              <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}"
                autocomplete="street-address address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">

              <label class="hidden" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
              <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}"
                autocomplete="street-address address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">

              <div class="grid">
                <div class="grid__item medium-up--one-half">
                  <label class="hidden" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                  <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}"
                    autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                </div>
                <div class="grid__item medium-up--one-half">
                  <label class="hidden" for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t
                    }}</label>
                  <select id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}"
                    name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{
                    all_country_option_tags }}</select>
                </div>
              </div>

              <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                <label class="hidden" for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t
                  }}</label>
                <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"
                  autocomplete="address-level1"></select>
              </div>

              <div class="grid">
                <div class="grid__item">
                  <label class="hidden" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                  <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}"
                    autocapitalize="characters" autocomplete="postal-code"
                    placeholder="{{ 'customer.addresses.zip' | t }}">
                </div>

                <div class="grid__item">
                  <label class="hidden" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                  <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}"
                    autocomplete="phone" placeholder="{{ 'customer.addresses.phone' | t }}">
                </div>
              </div>

              <div class="check-box">
                {{ form.set_as_default_checkbox }}
                <label class="radio_check_lebel" for="address_default_address_{{ form.id }}">{{
                  'customer.addresses.set_default' | t }}</label>
              </div>
              <div class="btn-box">
                <div><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></div>
                <div><button type="button" class="text-link address-edit-toggle" data-form-id="{{ form.id }}">{{
                    'customer.addresses.cancel' | t }}</button></div>
              </div>

              {% endform %}
              <hr>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {%- if paginate.pages > 1 -%}
      {% include 'pagination', paginate: paginate %}
      {%- endif -%}
      <div class="text-center">
        <button type="button" class="btn address-new-toggle address-toggle" id="AddressNewButton" aria-expanded="false"
          aria-owns="AddressNewForm">{{ 'customer.addresses.add_new' | t }}</button>
      </div>
      {% comment %}
      Add address form, hidden by default
      {% endcomment %}
      <div id="AddressNewForm" class="form-vertical hide">
        {% form 'customer_address', customer.new_address %}
        <h3 class="h6 text-center">{{ 'customer.addresses.add_new' | t }}</h3>

        <div class="grid">
          <div class="grid__item medium-up--one-half">
            <label class="hidden" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}"
              autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
          </div>

          <div class="grid__item medium-up--one-half">
            <label class="hidden" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}"
              autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
          </div>
        </div>

        <div class="grid">
          <div class="grid__item">
            <label class="hidden" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
            <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}"
              autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">

            <label class="hidden" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}"
              autocomplete="street-address address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">

            <label class="hidden" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}"
              autocomplete="street-address address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
          </div>
        </div>

        <div class="grid">
          <div class="grid__item medium-up--one-half">
            <label class="hidden" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}"
              autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
          </div>

          <div class="grid__item medium-up--one-half">
            <label class="hidden" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}"
              autocomplete="country">{{ all_country_option_tags }}</select>
          </div>
        </div>

        <div id="AddressProvinceContainerNew" style="display:none">
          <label class="hidden" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
          <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"
            autocomplete="address-level1"></select>
        </div>
        <div class="grid">
          <div class="grid__item medium-up--one-half">
            <label class="hidden" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters"
              autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
          </div>

          <div class="grid__item medium-up--one-half">
            <label class="hidden" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
            <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone"
              placeholder="{{ 'customer.addresses.phone' | t }}">
          </div>
        </div>



        <div class="check-box">
          {{ form.set_as_default_checkbox }}
          <label class="radio_check_lebel" for="address_default_address_new">{{ 'customer.addresses.set_default' | t
            }}</label>
        </div>
        <div class="btn-box">
          <div><input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"></div>
          <div><button type="button" class="text-link address-new-toggle">{{ 'customer.addresses.cancel' | t }}</button>
          </div>
        </div>
        {% endform %}
      </div>
    </div>
  </div>

</div>
{% endpaginate %}