<div class="about-our-product {% if section.settings.paddings != "default" %}{{ section.settings.paddings }}{% endif %}">
    <div class="page-width2">
        <div class="about-our-product__wrap">
            <div class="about-our-product__left">
                <div class="about-our-product__box">
                    <div class="about-our-product__box-text" style="font-size: {{ section.settings.text_left_size }}px; font-weight: {{ section.settings.text_left_weight }}">
                        {{ section.settings.text_left }}
                    </div>
                </div>
            </div>
            <div class="about-our-product__right">
                <div class="about-our-product__box" style="background: {{ section.settings.bg_right }}">
                    <div class="about-our-product__box-title" style="font-size: {{ section.settings.title_right_size }}px">
                        {{ section.settings.title_right }}
                    </div>
                    <div class="about-our-product__box-text" style="font-size: {{ section.settings.text_right_size }}px">
                        {{ section.settings.text_right }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% schema %}
{
  "name": "About our product",
  "class": "section-about-our-product",
  "settings": [
    {
      "type": "header",
      "content": "Left block"
    },
    {
        "type": "textarea",
        "id": "text_left",
        "label": "Text"
    },
    {
        "type": "range",
        "id": "text_left_size",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
    },
    {
       "type": "select",
       "id": "text_left_weight",
       "options": [
          { "value": "100", "label": "Light"},
          { "value": "normal", "label": "Normal"},
          { "value": "bold", "label": "Bold"}
       ],
       "label": "Font weight"
    },
    {
      "type": "header",
      "content": "Right block"
    },
    {
        "type": "richtext",
        "id": "title_right",
        "label": "Title"
    },
    {
        "type": "range",
        "id": "title_right_size",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
    },
    {
        "type": "textarea",
        "id": "text_right",
        "label": "Text"
    },
    {
        "type": "range",
        "id": "text_right_size",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
    },
    {
        "type": "color",
        "id": "bg_right",
        "label": "Background",
        "default": "#EFDDD3"
    },
    {
        "type": "select",
        "id": "paddings",
        "label": {
            "en": "Remove paddings?"
        },
        "default": "default",
        "options": [
            {
                "value": "default",
                "label": {
                    "en": "Keep defaults"
                }
            },
            {
                "value": "section--remove-top-padding",
                "label": {
                    "en": "Remove top padding"
                }
            },
            {
                "value": "section--remove-bottom-padding",
                "label": {
                    "en": "Remove bottom padding"
                }
            },
            {
                "value": "section--remove-all-paddings",
                "label": {
                    "en": "Remove top and bottom paddings"
                }
            }
        ]
    }
  ],
  "presets": [
    {
        "name": "About our product",
        "category": "About our product"
    }
  ]
}
{% endschema %}