<style>
	#shopify-section-b2b-quotes {
		background-color: {{ section.settings.color_back_bg }};
	}
</style>

{% if section.settings.show_features %}

<div class="container page-width2 b2b-testimonials {% if section.settings.paddings != "default" %}{{ section.settings.paddings }}{% endif %}">
  {% if section.settings.title != blank %}
    <div class="quote-title">
      <h2 class="h3">{{section.settings.title}}</h2>
    </div>
  {% endif %}
  {% assign n = 1 %}
	<div class="swiper-container js-quote-slider">
		<div class="swiper-wrapper">
			{% for block in section.blocks %}
				{% if block.settings.quote != blank %}
					<div class="mySlides swiper-slide" data-index="{% increment n %}">
						<div id="slickSlide{{ block.id }}"
							class="quotes-slide quotes-slide--{{ block.id }}{% if section.blocks.size == 1 %} quotes-slide--single{% endif %}"
							aria-labelledby="slickDot{{ block.id }}" {{ block.shopify_attributes }}
							data-slider-slide-index="{{ forloop.index0 }}" data-slider-item>

							<blockquote class="quotes-slider__text text-center">

								{% if block.settings.quote != blank %}
								<span class="quote-icon">{% include 'icon-quote' %}</span>
								<div class="rte-setting rte h2">{{ block.settings.quote }}</div>
								{% endif %}
								{% if block.settings.author != blank %}
								<cite>{{ block.settings.author | escape }}</cite>
								{% endif %}
								{% if block.settings.caption_html != blank %}
								<cite class="caption-testomonial">{{ block.settings.caption_html }}</cite>
								{% endif %}
							</blockquote>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="testimonial-arrow">
		<a class="prev"></a>
		<a class="next"></a>

		<!--   <div class="caption-container">
		<p id="caption"></p>
	</div> -->

		<div class="row logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
			{% assign b = 0 %}
			{% for block in section.blocks %}
			{% if block.settings.image != blank %}
			<div class="column logo-bar__item{% if section.settings.title_enable %}  logo-bar__item--large{% endif %}">
				{% if block.settings.link != blank %}
				<a href="{{ block.settings.link }}" class="logo-bar__link">
					{% endif %}
					{% if block.settings.image != blank %}
					<img class="demo cursor" src="{{ block.settings.image | img_url: '160x160', scale: 2}}"
						data-index="{% increment b %}" style="width:100%">

					{% else %}
					{{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
					{% endif %}

				</a>



			</div>

			{% endif %}
			{% endfor %}

		</div>
	</div>
</div>

{% endif %}

<script>
	$(document).ready(function () {
		$('.logo-bar__item:first-child img').addClass('active');
		var mySwiper = new Swiper('.js-quote-slider', {
			loop: true,
			navigation: {
				nextEl: '.testimonial-arrow .next',
				prevEl: '.testimonial-arrow .prev',
			},
		});
		$(document).on("click", ".logo-bar__item img", function () {
			let currentIndex = $(this).data('index');
			mySwiper.slideTo(currentIndex);
			$('.logo-bar__item img').removeClass('active');
			$(this).addClass('active');
		});
		mySwiper.on('slideChange', function (e) {
			let crINdex = mySwiper.realIndex;
			$('.logo-bar__item img').removeClass('active');
			$('.logo-bar__item img[data-index="' + crINdex + '"]').addClass('active');
		});
		// 	$("#newcustomclass0").click(function(){
		//         $(".demo.cursor").removeClass('active');
		// 	  	$(this).addClass('active');
		//       	$("#newslideid0").show();
		//         $("#newslideid1").hide();
		//         $("#newslideid2").hide();
		//         $("#newslideid3").hide();
		//       	$("#newslideid4").hide();
		//       	$("#newslideid5").hide();
		//       	$("#newslideid6").hide();
		//       	$("#newslideid7").hide();
		// 	});
		//     $("#newcustomclass1").click(function(){
		//         $(".demo.cursor").removeClass('active');
		// 	  	$(this).addClass('active');
		//       	$("#newslideid1").show();
		//       	$("#newslideid2").hide();
		//         $("#newslideid3").hide();
		//       	$("#newslideid4").hide();
		//       	$("#newslideid5").hide();
		//       	$("#newslideid6").hide();
		//       	$("#newslideid7").hide();
		//       	$("#newslideid0").hide();
		// 	});
		//     $("#newcustomclass2").click(function(){
		//         $(".demo.cursor").removeClass('active');
		// 	  	$(this).addClass('active');
		//       	$("#newslideid2").show();
		//       	$("#newslideid1").hide();
		//         $("#newslideid3").hide();
		//       	$("#newslideid4").hide();
		//       	$("#newslideid5").hide();
		//       	$("#newslideid6").hide();
		//       	$("#newslideid7").hide();
		//       	$("#newslideid0").hide();
		// 	});
		//     $("#newcustomclass3").click(function(){
		//         $(".demo.cursor").removeClass('active');
		// 	  	$(this).addClass('active');
		//       	$("#newslideid3").show();
		//       	$("#newslideid4").hide();
		//       	$("#newslideid5").hide();
		//       	$("#newslideid6").hide();
		//       	$("#newslideid7").hide();
		//       	$("#newslideid0").hide();
		//       	$("#newslideid1").hide();
		//       	$("#newslideid2").hide();
		// 	});

		//     $("#newcustomclass4").click(function(){
		//         $(".demo.cursor").removeClass('active');
		// 	  	$(this).addClass('active');
		//       	$("#newslideid4").show();
		//       	$("#newslideid5").hide();
		//       	$("#newslideid6").hide();
		//       	$("#newslideid7").hide();
		//       	$("#newslideid0").hide();
		//       	$("#newslideid1").hide();
		//       	$("#newslideid2").hide();
		//       	$("#newslideid3").hide();
		// 	});
		//     $("#newcustomclass5").click(function(){
		//         $(".demo.cursor").removeClass('active');
		// 	  	$(this).addClass('active');
		//       	$("#newslideid5").show();
		//       	$("#newslideid6").hide();
		//       	$("#newslideid7").hide();
		//       	$("#newslideid0").hide();
		//       	$("#newslideid1").hide();
		//       	$("#newslideid2").hide();
		//       	$("#newslideid3").hide();
		//       	$("#newslideid4").hide();
		// 	});
		//     $("#newcustomclass6").click(function(){
		//         $(".demo.cursor").removeClass('active');
		// 	  	$(this).addClass('active');
		//       	$("#newslideid6").show();
		//       	$("#newslideid7").hide();
		//       	$("#newslideid0").hide();
		//       	$("#newslideid1").hide();
		//       	$("#newslideid2").hide();
		//       	$("#newslideid3").hide();
		//       	$("#newslideid4").hide();
		//       	$("#newslideid5").hide();
		// 	});
		//     $("#newcustomclass7").click(function(){
		//         $(".demo.cursor").removeClass('active');
		// 	  	$(this).addClass('active');
		//       	$("#newslideid7").show();
		//       	$("#newslideid0").hide();
		//       	$("#newslideid1").hide();
		//       	$("#newslideid2").hide();
		//       	$("#newslideid3").hide();
		//       	$("#newslideid4").hide();
		//       	$("#newslideid5").hide();
		//       	$("#newslideid6").hide();
		// 	});
	});
</script>

<script>
	var slideIndex = 1;
// showSlides(slideIndex);

// // Next/previous controls
// function plusSlides(n) {
//   showSlides(slideIndex += n);
// }

// // Thumbnail image controls
// function currentSlide(n) {
//   showSlides(slideIndex = n);
// }

// function showSlides(n) {
//   var i;
//   var slides = document.getElementsByClassName("mySlides");
//   var dots = document.getElementsByClassName("demo");
//   var captionText = document.getElementById("caption");
//   if (n > slides.length) {slideIndex = 1}
//   if (n < 1) {slideIndex = slides.length}
//   for (i = 0; i < slides.length; i++) {
//     slides[i].style.display = "none";
//   }
//   for (i = 0; i < dots.length; i++) {
//     dots[i].className = dots[i].className.replace(" active", "");
//   }
//   slides[slideIndex-1].style.display = "block";
//   dots[slideIndex-1].className += " active";
//   captionText.innerHTML = dots[slideIndex-1].alt;
// }
</script>

{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Testimonials",
    "en": "Testimonials",
    "es": "Testimonios",
    "fi": "Suositukset",
    "fr": "Témoignages",
    "hi": "प्रमाणपत्र",
    "it": "Testimonial",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Depoimentos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "max_blocks": 30,
  "settings": [
    {
      "type": "select",
      "id": "paddings",
      "label": {
        "en": "Remove paddings?"
      },
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": {
            "en": "Keep defaults"
          }
        },
        {
          "value": "section--remove-top-padding",
          "label": {
            "en": "Remove top padding"
          }
        },
        {
          "value": "section--remove-bottom-padding",
          "label": {
            "en": "Remove bottom padding"
          }
        },
        {
          "value": "section--remove-all-paddings",
          "label": {
            "en": "Remove top and bottom paddings"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_features",
      "label": {
        "en": "Visible"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Testimonials",
        "en": "Testimonials",
        "es": "Testimonios",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "hi": "प्रमाणपत्र",
        "it": "Testimonial",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Depoimentos",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      }
    },
	{
      "type": "color",
      "id": "color_back_bg",
      "label": {
      "cs": "Pozadí",
      "da": "Baggrund",
      "de": "Hintergrund",
      "en": "Background",
      "es": "Fondo",
      "fi": "Tausta",
      "fr": "Couleur de fond",
      "hi": "पृष्ठभूमि",
      "it": "Sfondo",
      "ja": "背景",
      "ko": "배경",
      "nb": "Bakgrunn",
      "nl": "Achtergrond",
      "pl": "Tło",
      "pt-BR": "Plano de fundo",
      "pt-PT": "Fundo",
      "sv": "Bakgrund",
      "th": "พื้นหลัง",
      "tr": "Arka plan",
      "vi": "Nền",
      "zh-CN": "背景",
      "zh-TW": "背景"
      },
      "default": "#f6f6f6"
     }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": {
        "cs": "Ohlas",
        "da": "Udtalelse",
        "de": "Testimonial",
        "en": "Testimonial",
        "es": "Testimonio",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "hi": "प्रमाणपत्र",
        "it": "Testimonial",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Anbefaling",
        "nl": "Testimonial",
        "pl": "Referencja",
        "pt-BR": "Depoimento",
        "pt-PT": "Testemunho",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşü",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": {
            "cs": "Text",
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "tr": "Metin",
            "vi": "Văn bản",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": {
            "cs": "<p>Přidejte recenze a ohlasy zákazníků, které vyjadřují jejich spokojenost s vaším obchodem.</p>",
            "da": "<p>Tilføj kundeanmeldelser og udtalelser for at fremhæve din butiks tilfredse kunder.</p>",
            "de": "<p>Kunden-Reviews und Testimonials, die Kundenzufriedenheit beweisen.</p>",
            "en": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
            "es": "<p>Agrega las reseñas y los testimonios de los clientes para mostrar a los clientes satisfechos de tu tienda.</p>",
            "fi": "<p>Lisää asiakasarviointeja ja suositteluja esimerkeiksi myymäläsi tyytyväisistä asiakkaista.</p>",
            "fr": "<p>Ajoutez des avis et témoignages pour mettre en avant vos clients satisfaits.</p>",
            "hi": "<p>अपने स्टोर के खुश ग्राहकों को दिखाने के लिए ग्राहक समीक्षा और प्रशंसापत्र जोड़ें.</p>",
            "it": "<p>Aggiungi recensioni e testimonianze sul tuo negozio per dimostrare che i clienti sono soddisfatti.</p>",
            "ja": "<p>あなたのストアの幸せなお客様を紹介するために、カスタマーレビューとお客様の声を追加してください。</p>",
            "ko": "<p>고객 리뷰 및 추천을 추가하여 스토어에 만족한 고객을 보여주십시오.</p>",
            "nb": "<p>Legg til kundeomtaler og anbefalinger for å vise frem butikkens glade kunder.</p>",
            "nl": "<p>Voeg beoordelingen van klanten en testimonials toe om te laten zien dat je klanten tevreden zijn.</p>",
            "pl": "<p>Dodaj opinie i referencje od klientów, aby pokazać zadowolenie klientów Twojego sklepu.</p>",
            "pt-BR": "<p>Adicione comentários e depoimentos para dar destaque aos clientes satisfeitos com a sua loja.</p>",
            "pt-PT": "<p>Adicione análises e testemunhos para mostrar os clientes felizes da sua loja.</p>",
            "sv": "<p>Lägg till kundrecensioner och berättelser för att visa upp din butiks nöjda kunder.</p>",
            "th": "<p>เพิ่มรีวิวและเสียงชื่นชมจากลูกค้าเพื่อนำเสนอลูกค้าที่ได้รับความพึงพอใจจากร้านค้า</p>",
            "tr": "<p>Müşteri değerlendirmeleri ve kullanıcı görüşleri ekleyerek mağazanızdan memnun kalan müşterileri gösterin.</p>",
            "vi": "<p>Thêm đánh giá và chứng thực từ khách hàng để chứng minh khách hàng hài lòng với cửa hàng.</p>",
            "zh-CN": "<p>添加客户评论和感言，以展示对您的商店满意的客户。</p>",
            "zh-TW": "<p>新增顧客評論和推薦文，展示對您商店滿意之顧客。</p>"
          }
        },
        {
          "type": "text",
          "id": "author",
          "label": {
            "cs": "Autor",
            "da": "Forfatter",
            "de": "Autor",
            "en": "Author",
            "es": "Autor",
            "fi": "Kirjoittaja",
            "fr": "Auteur",
            "hi": "लेखक",
            "it": "Autore",
            "ja": "執筆者",
            "ko": "작성자",
            "nb": "Forfatter",
            "nl": "Auteur",
            "pl": "Autor",
            "pt-BR": "Autoria",
            "pt-PT": "Autoria",
            "sv": "Upphovsman",
            "th": "ผู้เขียน",
            "tr": "Yazar",
            "vi": "Tác giả",
            "zh-CN": "作者",
            "zh-TW": "作者"
          },
          "default": {
            "cs": "Jméno autora",
            "da": "Forfatterens navn",
            "de": "Name des Autors",
            "en": "Author's name",
            "es": "Nombre del autor",
            "fi": "Kirjoittajan nimi",
            "fr": "Nom de l'auteur",
            "hi": "लेखक का नाम",
            "it": "Nome dell'autore",
            "ja": "筆者の名前",
            "ko": "작성자 이름",
            "nb": "Forfatterens navn",
            "nl": "Naam auteur",
            "pl": "Nazwisko autora",
            "pt-BR": "Nome do autor",
            "pt-PT": "Nome do autor",
            "sv": "Författarens namn",
            "th": "ชื่อผู้เขียน",
            "tr": "Yazar adı",
            "vi": "Tên tác giả",
            "zh-CN": "作者姓名",
            "zh-TW": "作者名稱"
          }
        },
		{
			"type": "richtext",
            "id": "caption_html",
            "label": "Caption"
		}
			
      ]
    },
	{
      "type": "logo_image",
      "name": {
        "cs": "Logo",
        "da": "Logo",
        "de": "Logo",
        "en": "Logo",
        "es": "Logo",
        "fi": "Logo",
        "fr": "Logo",
        "hi": "लोगो",
        "it": "Logo",
        "ja": "ロゴ",
        "ko": "로고",
        "nb": "Logo",
        "nl": "Logo",
        "pl": "Logo",
        "pt-BR": "Logotipo",
        "pt-PT": "Logótipo",
        "sv": "Logotyp",
        "th": "โลโก้",
        "tr": "Logo",
        "vi": "Logo",
        "zh-CN": "logo",
        "zh-TW": "商標"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "cs": "Obrázek",
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pl": "Obraz",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "tr": "Görsel",
            "vi": "Hình ảnh",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "cs": "Odkaz",
            "da": "Link",
            "de": "Link",
            "en": "Link",
            "es": "Enlace",
            "fi": "Linkki",
            "fr": "Lien",
            "hi": "लिंक",
            "it": "Link",
            "ja": "リンク",
            "ko": "링크",
            "nb": "Kobling",
            "nl": "Link",
            "pl": "Link",
            "pt-BR": "Link",
            "pt-PT": "Ligação",
            "sv": "Länk",
            "th": "ลิงก์",
            "tr": "Bağlantı",
            "vi": "Liên kết",
            "zh-CN": "链接",
            "zh-TW": "連結"
          },
          "info": {
            "cs": "Volitelné",
            "da": "Valgfri",
            "de": "Optional",
            "en": "Optional",
            "es": "Opcional",
            "fi": "Valinnainen",
            "fr": "Facultatif",
            "hi": "वैकल्पिक",
            "it": "Facoltativo",
            "ja": "オプション",
            "ko": "선택 사항",
            "nb": "Valgfritt",
            "nl": "Optioneel",
            "pl": "Opcjonalnie",
            "pt-BR": "Opcional",
            "pt-PT": "Opcional",
            "sv": "Valfritt",
            "th": "ไม่จำเป็น",
            "tr": "İsteğe bağlı",
            "vi": "Không bắt buộc",
            "zh-CN": "可选",
            "zh-TW": "(選填)"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Testimonials",
        "en": "Testimonials",
        "es": "Testimonios",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "hi": "प्रमाणपत्र",
        "it": "Testimonial",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Depoimentos",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    },
	{
      "name": {
        "cs": "Seznam log",
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Logo list",
        "es": "Lista de logos",
        "fi": "Logoluettelo",
        "fr": "Liste de logos",
        "hi": "लोगो सूची",
        "it": "Elenco loghi",
        "ja": "ロゴリスト",
        "ko": "로고 목록",
        "nb": "Logoliste",
        "nl": "Logolijst",
        "pl": "Lista logo",
        "pt-BR": "Lista de logotipos",
        "pt-PT": "Lista de logótipos",
        "sv": "Logotyplista",
        "th": "รายการโลโก้",
        "tr": "Logo listesi",
        "vi": "Danh sách logo",
        "zh-CN": "logo 列表",
        "zh-TW": "標誌清單"
      },
      "category": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}