
<a id="popuplink" href="#inline" style="display:none;"></a>
<div id="inline" style="display:none; background-color: {{ section.settings.newsletter_back_bg }};">
  <div class="modalContent">
    <h1 class="modal__title test {{ section.settings.newsletter_text_color }}" style="color: {{ section.settings.newsletter_text_color }};">{{ section.settings.newsletter_title }}</h1>
    <div style="color: {{ section.settings.newsletter_text_color }};">{{ section.settings.newsletter_subheading }}</div>
  </div>
  <div class="modal__form">
    <div class="klaviyo-form-X8R66d"></div>
  </div>
  <a href="javascript:;" class="close-btn" onclick="jQuery.fancybox.close();" style="text-decoration:none;"><span>&times;</span></a>
</div>
<style>
.fancybox-inner .modalContent p{
    color: {{ section.settings.newsletter_text_color }};
}
.close-btn{
    border: 1px solid {{ section.settings.newsletter_text_color }};
    color: {{ section.settings.newsletter_text_color }} !important;
}
  .fancybox-wrap{
  max-width: 1200px;
  width: 100% !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  padding: 0 15px !important;
}
.fancybox-inner{
  width: 100% !important;
  height: auto !important;
  
  overflow: inherit !important;
}
.fancybox-inner #inline{
  text-align: left !important;
  display: flex;
  align-items: center;
  padding: 40px 50px;
    justify-content: space-between;
}
.fancybox-skin{
  border-radius: 0 !important;
  background: transparent !important;
  padding: 0 !important;
}
.fancybox-inner .modalContent{
  flex: 50% 0 0;
}
.fancybox-inner .modal__title{
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.9px;
  font-family: 'GT America';
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 0px;
  font-weight: 500;
}
.close-btn{
  position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent !important;
    border-radius: 50% !important;
    padding: 6px !important;
    line-height: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.close-btn span{
      margin-right: -2px;
    margin-top: -2px;
      font-size: 10px;
}*/ 
.fancybox-inner .modalContent p{
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.9px;
  margin-bottom: 0;
}
.fancybox-inner .modal__form form{
	padding: 0 !important;
}
.fancybox-inner .modal__form{
      padding: 0 0px;
      width: 100%;
    margin-left: 40px;
}
.fancybox-inner .modal__form button.needsclick{
  padding: 0px 0px !important;
}
.fancybox-inner .modal__form .needsclick{
  padding: 0 !important;
}
.fancybox-inner .modal__form input[type="email"]{
  border: 1px solid #eee !important;
  color: #212121 !important;
  border-radius: 0 !important;
  margin-right: 20px;
  font-family: 'GT America' !important;
  margin: 0 auto !important;
  font-weight: 100 !important;
  width: 100% !important;
  max-width: 100% !important;
  padding: 10px 18px !important;
  height: 45px !important;
  background: #fff !important;
  font-size: 16px !important;
line-height: 24px !important;
letter-spacing: 0.5px !important;
}
.fancybox-inner .modal__form input[type="email"]::placeholder {
  color: #212121 !important;;
  font-size: 16px !important;
line-height: 24px !important;
letter-spacing: 0.5px !important;
font-family: 'GT America' !important;
}
.fancybox-inner .modal__form button{
  border: 1px solid #eee !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  line-height: 24px !important;
  text-align: center !important;
  letter-spacing: 1.5px !important;
  text-transform: uppercase;
  color: #000 !important;
  padding: 0px 17px !important;
  height: 43px !important;
  font-family: 'GT America' !important;
  font-weight: 500 !important;
  margin-left: 20px !important;
  background: #fff !important;
  min-width: 115px;
}
  .fancybox-inner .modal__form input[type="email"]:focus{
    outline: none !important;
    box-shadow: none !important;
  }
  .fancybox-inner .modal__form button:hover{
           background: #E1E1E1 !important;
           color: #212121 !important;
  }
  .fancybox-inner .modal__form button:focus{
    outline: none !important;
    box-shadow: none !important;
  }
  .fancybox-inner .modal__form p{
    color: {{ section.settings.newsletter_text_color }} !important;
  }
  .fancybox-inner .modal__form p strong{
    color: {{ section.settings.newsletter_text_color }} !important;
  }
  .fancybox-inner .modal__form p span{
    color: {{ section.settings.newsletter_text_color }} !important;
  }
  
    .close-btn span {
/*     margin-right: -2px; */
/*     margin-top: -2px;
        font-size: 18px; */
    margin-right: -3px;
    margin-top: -2px;
    font-size: 10px;
	}
  
@media only screen and (max-width: 1200px) {
  .close-btn span{
    margin-right: -2px;}
}
@media only screen and (max-width: 991px) {
  .fancybox-inner #inline{
    padding: 40px 22px;
    display: block;
  }
  .fancybox-inner .modalContent{
        width: 55%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .fancybox-inner .modal__form{
    margin-left: 0;
    width: 55%;
    margin: 0 auto;
    padding: 0;
  }
  .close-btn {
    right: 12px;
    top: 12px;
    width: 28px;
    height: 28px;
  }
  
      .close-btn span {
/*     margin-right: -2px; */
/*     margin-top: -2px;
        font-size: 18px; */
    margin-right: -2px;
    margin-top: -2px;
    font-size: 16px;
	}
}
@media only screen and (max-width: 749px) {
  
  .fancybox-inner .modalContent{
        width: 100%;
        max-width: 100%;
  }
  .fancybox-inner .modal__form{
    margin-left: 0;
    width: 100%;
    margin: 0 auto;
  }
  .fancybox-inner .modal__title{
    margin-bottom: 7px;
  }
  .modal__form{
    margin-top: 20px;
  }
  
  .fancybox-wrap{
      top: 400px !important;
    }
  
  .fancybox-inner .modal__form button{
  border-radius: 0 !important;
    margin-left: 8px !important;
    min-width: 95px;
  }
  .fancybox-inner .modal__form input[type="email"]{
      border: 1px solid #eee !important;
    height: 45px !important;
    margin-right: 0;
    border-right: none !important;
    padding: 5px 15px !important;
    border-radius: 0px !important;
  }
  
}
@-moz-document url-prefix() { 
  .fancybox-inner .modal__form input[type="email"]{
    padding: 8px 15px 5px !important;
  }
}
  @media only screen and (min-width: 750px) {
    .fancybox-wrap{
      top: 570px !important;
    }
  }
  @media only screen and (max-width: 375px) {
    .fancybox-inner .modal__form .needsclick{
      display: block;
          overflow: hidden;
    }
    .fancybox-inner .modal__form button.needsclick{
      width: 100%;
      margin-left: 0 !important;
      margin-top: 10px;
      padding: 0px 0px !important;
      min-width: 100%;
    }
  }

</style>
{% if section.settings.show_popup %}
<script>
jQuery(document).ready(function () {
    function openFancybox() {
        setTimeout(function () {
            jQuery('#popuplink').trigger('click');
        }, 500);
    };
    var visited = jQuery.cookie('visited');
    if (visited == 'yes') {
         // second page load, cookie active
    } else {
        openFancybox(); // first page load, launch fancybox
    }
    jQuery.cookie('visited', 'yes', {
        expires: 365 // the number of days cookie  will be effective
    });
    jQuery("#popuplink").fancybox({
      modal:true, 
      maxWidth: 400
    });
});
</script>
{% endif %}

{% schema %}
{
  "name": {
    "de": "Klaviyo Newsletter Popup",
    "en": "Klaviyo Newsletter Popup"
  },
  "class": "klaviyo-newsletter",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_popup",
      "label": "Show newsletter popup"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": {
        "en": "Newsletter Heading"
      },
      "default": {
        "en": "Subscribe to our newsletter"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_subheading",
      "label": {
        "en": "Newsletter Subheading"
      },
      "default": {
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
      }
    },
    {
          "type": "color",
          "id": "newsletter_back_bg",
          "label": {
            "en": "Background"
          }
        },
	{
          "type": "color",
          "id": "newsletter_text_color",
          "label": {
            "en": "Text Color"
          }
        }
  ],
  "presets": [
    {
      "name": {
        "en": "Klaviyo Newsletter"
      },
      "category": {
        "en": "Klaviyo Promotional"
      }
    }
  ]
}
{% endschema %}
