<div id="contact-info" class="contact-box-info">
	<div class="page-width2">
		<div class="grids">
			{% if section.settings.image %}
				<div class="grids__item coll-6">
					<div class="contact-img-wrapper">
					{%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
							<img class="lazyload js"
								src="{{ section.settings.image | img_url: '580x' }}"
								data-src="{{ img_url }}"
								data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
								data-aspectratio="{{ section.settings.image.aspect_ratio }}"
								data-sizes="auto"
								alt="{{ section.settings.image.alt | default: shop.name }}"
								style="max-width: 580px">
							<noscript>
								<img src="{{ section.settings.image | img_url: '580x' }}"
									srcset="{{ section.settings.image | img_url: '580x' }} 1x, {{ section.settings.image | img_url: '580x', scale: 2 }} 2x"
									alt="{{ section.settings.image.alt | default: shop.name }}"
									style="max-width: 580px;">
							</noscript>
						</div>
				</div>
			{% endif %}

			<div class="grids__item coll-6">
				<div class="contact_item item_info">
					{% if section.settings.item_title != blank %}
						<h2 class="h3 item_title">{{ section.settings.item_title }}</h2>
					{% endif %}

					{% if section.settings.item_desc != blank %}
						<div class="item_desc">{{ section.settings.item_desc }}</div>
					{% endif %}

					<ul class="item_phone">
						{% if section.settings.item_phone_1 != blank %}
							<li>
								<a href="tel:{{ section.settings.item_phone_1 | replace: '.', '' }}" title="tel:{{ section.settings.item_phone_1 }}" aria-describedby="a11y-external-message">{{ section.settings.item_phone_1 }}</a>
							</li>
						{% endif %}
						{% if section.settings.item_phone_2 != blank %}
							<li>
								<a href="tel:{{ section.settings.item_phone_2 | replace: '.', '' }}" title="tel:{{ section.settings.item_phone_2 }}" aria-describedby="a11y-external-message">{{ section.settings.item_phone_2 }}</a>
							</li>
						{% endif %}
					</ul>

					{% if section.settings.item_desc_2 != blank %}
						<div class="item_desc2">{{ section.settings.item_desc_2 }}</div>
					{% endif %}

					<ul class="item_email">
						{% if section.settings.sales_title != blank and section.settings.sales_link != blank %}
							<li>{{ section.settings.sales_title }}:
								<a href="mailto:{{ section.settings.sales_link }}" title="{{ section.settings.sales_link }}" aria-describedby="a11y-external-message">{{ section.settings.sales_link }}</a>
							</li>
						{% endif %}
						{% if section.settings.press_title != blank and section.settings.press_link != blank %}
							<li>{{ section.settings.press_title }}:
								<a href="mailto:{{ section.settings.press_link }}" title="{{ section.settings.press_link }}" aria-describedby="a11y-external-message">{{ section.settings.press_link }}</a>
							</li>
						{% endif %}
						{% if section.settings.help_title != blank and section.settings.help_link != blank %}
							<li>{{ section.settings.help_title }}:
								<a href="mailto:{{ section.settings.help_link }}" title="{{ section.settings.help_link }}" aria-describedby="a11y-external-message">{{ section.settings.help_link }}</a>
							</li>
						{% endif %}
					</ul>

					<div class="section-button-holder">
						<div class="links-grid">
							{% if section.settings.btnfirst_title != blank and section.settings.btnfirst_link != blank %}
								<div>
									<a href="{{ section.settings.btnfirst_link }}"
										class="btn2"
										aria-label="{{ ariaLabel }}">
										{{- section.settings.btnfirst_title | escape -}}
									</a>
								</div>
							{% endif %}

							{% if section.settings.btnsecond_title != blank and section.settings.btnsecond_link != blank %}
								<div>
									<a href="{{ section.settings.btnsecond_link }}"
										class="btn2"
										aria-label="{{ ariaLabel }}">
										{{- section.settings.btnsecond_title | escape -}}
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>  
</div>

{% schema %}
{
	"name": "Contact Information",
	"class": "section section_contact-info",
	"settings": [
		{
			"type": "header",
			"content": "Contact info"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image",
			"info": "The image should be more than 580px wide to resize and crop properly"
		},
		
		{
			"type": "text",
			"id": "item_title",
			"label": "Contact block title"
		},
		{
			"type": "richtext",
			"id": "item_desc",
			"label": "Short Info",
			"default": "<p>Please call or email us with your questions about scenting your business or home. Provide as much information as possible about the space you are wanting to scent, size of the area and any other relevant information and we will get back to you within 24 hours.</p>"
		},
		{
			"type": "text",
			"id": "item_phone_1",
			"label": "Phone First",
			"default": "+1.877.347.5239"
		},
		{
			"type": "text",
			"id": "item_phone_2",
			"label": "Phone Second",
			"default": "+1.602.698.9696"
		},
		{
			"type": "richtext",
			"id": "item_desc_2",
			"label": "Short Info",
			"default": "<p>Available Monday to Friday - 9:00am to 5:00pm Pacific Standard Time, excluding holidays.</p>"
		},

		{
			"type": "text",
			"id": "sales_title",
			"label": "Sales",
			"default": "Sales"
		},
		{
			"type": "text",
			"id": "sales_link",
			"label": "Sales Email",
			"default": "sales@aromatechscent.com"
		},

		{
			"type": "text",
			"id": "press_title",
			"label": "Press",
			"default": "Press"
		},
		{
			"type": "text",
			"id": "press_link",
			"label": "Press Email",
			"default": "press@aromatechscent.com"
		},

		{
			"type": "text",
			"id": "help_title",
			"label": "Help",
			"default": "Help"
		},
		{
			"type": "text",
			"id": "help_link",
			"label": "Help Email",
			"default": "help@aromatechscent.com"
		},


		{
			"type": "text",
			"id": "btnfirst_title",
			"label": "Button First",
			"default": "Schedule a call"
		},

		{
			"type": "url",
			"id": "btnfirst_link",
			"label": "Button First Link"
		},

		{
			"type": "text",
			"id": "btnsecond_title",
			"label": "Button Second",
			"default": "Scent samples"
		},

		{
			"type": "url",
			"id": "btnsecond_link",
			"label": "Button Second Link"
		}    
	]
}
{% endschema %}