<div id="contact" class="contact-box {% if section.settings.paddings != "default" %}{{ section.settings.paddings }}{% endif %}">
	<div class="page-width2">
		<div class="contact-form font-body-small">
			{%- assign formId = 'ContactForm' -%}

			{% form 'contact', id: formId, novalidate: 'novalidate' %}

				{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
				{%- assign page_url = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |   replace:'\/','/' |    replace:'%20',' ' |    replace:'\u0026','&'  -%}

				
				{%- if form.posted_successfully? -%}
					<p class="form-message form-message--success" tabindex="-1" data-form-status>
						{{ success_message | default: 'contact.form.post_success' | t }}
					</p>
				{% else %}
					{% if page_url contains 'form_type=contact' %}
						{% include 'form-status', form: form, form_id: formId %}
					{% endif %}


					<div class="form-group">
						<div class="form-item">
							<label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
							<input required
									class="required"
									type="text"
									id="{{ formId }}-name"
									placeholder="{{ 'contact.form.name' | t }}*"
									name="contact[{{ 'contact.form.name' | t }}]"
									value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
						</div>
						<div class="form-item">
							<label for="{{ formId }}-name">{{ 'contact.form.nachname' | t }}</label>
							<input required
									class="required"
									type="text"
									id="{{ formId }}-name"
									placeholder="{{ 'contact.form.nachname' | t }}*"
									name="contact[{{ 'contact.form.nachname' | t }}]"
									value="{% if form[nachname] %}{{ form[nachname] }}{% elsif customer %}{{ customer.nachname }}{% endif %}">
						</div>
					</div>

					<div class="form-group">
						<div class="form-item">
							<label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
							<input type="email"
									id="{{ formId }}-email"
									name="contact[email]"
									placeholder="{{ 'contact.form.email' | t }}*"
									autocorrect="off"
									autocapitalize="off"
									value="{% if form.email and page_url contains 'form_type=contact' %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
									aria-required="true"
									required
									class="required" {%- if form.errors contains 'email' -%}
									class="input--error"
									aria-invalid="true"
									aria-describedby="{{ formId }}-email-error" {%- endif -%}>
						</div> 
						<div class="form-item">
							<label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
							<input type="tel"
									id="{{ formId }}-phone"
									placeholder="{{ 'contact.form.phone' | t }}"
									name="contact[{{ 'contact.form.phone' | t }}]"
									pattern="[0-9\-]*"
									value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
						</div>
					</div>
					<div class="form-group">
						<div class="form-item checkbox-row inline">
							<strong class="title">{{ 'contact.form.message2' | t }}</strong>
							<label class="aroma-checkbox-label"
									for="{{ formId }}-check1">
								<input id="{{ formId }}-check1"
										value="{{ 'contact.form.check1' | t }}"
										name="contact[Inquiry Home]"
										type="checkbox"
										class="aroma-checkbox custom-validation-checkbox">
								<span class="fake-checkbox"></span>{{'contact.form.check1' | t }}
							</label>
							<label class="aroma-checkbox-label"
									for="{{ formId }}-check2">
								<input id="{{ formId }}-check2"
										value="{{ 'contact.form.check2' | t }}"
										name="contact[Inquiry Bussiness]"
										type="checkbox"
										class="aroma-checkbox custom-validation-checkbox">
								<span class="fake-checkbox"></span>{{'contact.form.check2' | t }}
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-item">
							<label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
							<textarea required
									class="required"
									rows="10"
									id="{{ formId }}-message"
									placeholder="{{ 'contact.form.message' | t }}*"
									name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="form-item checkbox-row">
							<strong class="title">{{ 'contact.form.message3' | t }}</strong>
							<label class="aroma-checkbox-label"
									for="{{ formId }}-check3">
								<input id="{{ formId }}-check3"
										value="{{ 'contact.form.message4' | t }}"
										name="contact[Marketing]"
										type="checkbox"
										class="aroma-checkbox">
								<span class="fake-checkbox"></span>{{ 'contact.form.message4' | t }}
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-item">
							<input type="submit" class="btn2 btn2-secondary squared" value="{{ section.settings.button_label }}">
						</div>
					</div>
				{% endif %}
			{% endform %}
		</div>
		{% comment %}
		<hr>
		<hr>
		<hr>
		<div class="grid">
			<div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
				<div class="contact-form form-vertical">
					{%- assign formId = 'ContactForm' -%}
					{% form 'contact', id: formId, novalidate: 'novalidate' %}
					{%- if form.posted_successfully? -%}
					<p class="form-message form-message--success" tabindex="-1" data-form-status>
						{{ success_message | default: 'contact.form.post_success' | t }}
					</p>

					{% else %}

					{% include 'form-status', form: form, form_id: formId %}

					<div class="grid grid--half-gutters">
						<div class="grid__item medium-up--one-half">
							<label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
							<input required class="required" type="text" id="{{ formId }}-name"
								placeholder="{{ 'contact.form.name' | t }}*" name="contact[{{ 'contact.form.name' | t }}]"
								value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
						</div>
						<div class="grid__item medium-up--one-half">
							<label for="{{ formId }}-name">{{ 'contact.form.nachname' | t }}</label>
							<input required class="required" type="text" id="{{ formId }}-name"
								placeholder="{{ 'contact.form.nachname' | t }}*" name="contact[{{ 'contact.form.nachname' | t }}]"
								value="{% if form[nachname] %}{{ form[nachname] }}{% elsif customer %}{{ customer.nachname }}{% endif %}">
						</div>
					</div>

					<div class="grid grid--half-gutters">

						<div class="grid__item medium-up--one-half">
							<label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
							<input type="email" id="{{ formId }}-email" name="contact[email]"
								placeholder="{{ 'contact.form.email' | t }}*" autocorrect="off" autocapitalize="off"
								value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
								aria-required="true" required class="required" {%- if form.errors contains 'email' -%}
								class="input--error" aria-invalid="true" aria-describedby="{{ formId }}-email-error" {%- endif -%}>
							{%- if form.errors contains 'email' -%}
							<span id="{{ formId}}-email-error" class="input-error-message">
								<span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
								<span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email']
									}}.</span>
							</span>
							{%- endif -%}
						</div>
						<div class="grid__item medium-up--one-half">
							<label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
							<input type="tel" id="{{ formId }}-phone" placeholder="{{ 'contact.form.phone' | t }}"
								name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*"
								value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
						</div>
					</div>
					<div class="check-box flex">
						<span>{{ 'contact.form.message2' | t }}</span>
						<label class="aroma-checkbox-label" for="{{ formId }}-check1"><input id="{{ formId }}-check1"
								value="{{ 'contact.form.check1' | t }}" name="contact[check1]" type="checkbox"
								class="aroma-checkbox custom-validation-checkbox"><span class="fake-checkbox"></span>{{
							'contact.form.check1' | t }}</label>
						<label class="aroma-checkbox-label" for="{{ formId }}-check2"><input id="{{ formId }}-check2"
								value="{{ 'contact.form.check2' | t }}" name="contact[check2]" type="checkbox"
								class="aroma-checkbox custom-validation-checkbox"><span class="fake-checkbox"></span>{{
							'contact.form.check2' | t }}</label>
					</div>


					<label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
					<textarea required class="required" rows="10" id="{{ formId }}-message"
						placeholder="{{ 'contact.form.message' | t }}*"
						name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
					<div class="check-box">
						<span>{{ 'contact.form.message3' | t }}</span>
						<label class="aroma-checkbox-label" for="{{ formId }}-check3"><input id="{{ formId }}-check3"
								value="{{ 'contact.form.message4' | t }}" name="contact[check3]" type="checkbox"
								class="aroma-checkbox"><span class="fake-checkbox"></span>{{ 'contact.form.message4' | t }}</label>
					</div>
					<input type="submit" class="btn2 btn2-secondary squared" value="{{ section.settings.button_label }}">
					{% endif %}
					{% endform %}
				</div>
			</div>
		</div>
		{% endcomment %}
	</div>
</div>

{% schema %}
{
	"name": "Contact",
	"class": "section section_template__contact",
	"settings": [
		{
			"type": "select",
			"id": "paddings",
			"label": {
			"en": "Remove paddings?"
			},
			"default": "default",
			"options": [
			{
				"value": "default",
				"label": {
				"en": "Keep defaults"
				}
			},
			{
				"value": "section--remove-top-padding",
				"label": {
				"en": "Remove top padding"
				}
			},
			{
				"value": "section--remove-bottom-padding",
				"label": {
				"en": "Remove bottom padding"
				}
			},
			{
				"value": "section--remove-all-paddings",
				"label": {
				"en": "Remove top and bottom paddings"
				}
			}
			]
		},
		{
			"type": "header",
			"content": "Contact info"
		},    
		{
			"type": "text",
			"id": "button_label",
			"label": {
				"cs": "Text tlačítka",
				"da": "Knaptekst",
				"de": "Button-Etikett",
				"en": "Button label",
				"es": "Etiqueta de botón",
				"fi": "Tekstipainike",
				"fr": "Texte du bouton",
				"it": "Etichetta pulsante",
				"ja": "ボタンのラベル",
				"ko": "버튼 레이블",
				"nb": "Knappetikett",
				"nl": "Knoplabel",
				"pl": "Przycisk z etykietą",
				"pt-BR": "Etiqueta de botão",
				"pt-PT": "Etiqueta do botão",
				"sv": "Knappetikett",
				"th": "ป้ายกำกับปุ่ม",
				"tr": "Düğme etiketi",
				"vi": "Nhãn nút",
				"zh-CN": "按钮标签",
				"zh-TW": "按鈕標籤"
			}
		}
	]
}
{% endschema %}