<div class="shopify-section">
	<div class="page-width2">
		<div class="empty-page-content text-center">
			<h1 class="h4">{{ 'general.404.title' | t }}</h1>
			{% include 'icon-404' %}
			<p class="desc">{{ 'general.404.subtext' | t }}</p>
			<p class="info">
				<span>{{ 'general.404.search_404' | t }}</span>
				<a href="{{ routes.root_url }}" class="btn--link btn--has-icon-after go-back-link">{{ 'general.404.link' | t
					}}{% include 'icon-arrow-right' %}</a>
			</p>
			<form action="{{ routes.search_url }}" method="get" role="search" class="search-form">
				<div class="input-group input-group--nowrap">
					<div class="input-group__field input-group__field--connected search-form__input-wrapper">
						<input type="search" name="q" value="{{ search.terms | escape }}"
							placeholder="{{ 'general.search.placeholder' | t }}" role="combobox" aria-autocomplete="list"
							aria-owns="predictive-search-results" aria-expanded="false"
							aria-label="{{ 'general.search.placeholder' | t }}" aria-haspopup="listbox" class="search-form__input"
							data-search-page-predictive-search-input />

						<input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />

						<button type="reset" class="search-form__clear-action"
							aria-label="{{ 'general.search.clear_search_term' | t }}" data-search-page-predictive-search-clear>
							{% include 'icon-close' %}
						</button>

						<div class="predictive-search-wrapper" data-predictive-search-mount="default"></div>
					</div>

					<button type="submit" class="search-form-submit" aria-label="{{ 'general.search.submit' | t }}"
						data-search-page-predictive-search-submit>
						{% include 'icon-search' %}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

