<div class="page-width2 search-form-r">
  {% if search.performed == false %}
    <div class="text-center">
      <h1 class="h3">{{ 'general.search.title' | t }}</h1>
  {% else %}
    <div class="text-center">
      <h1 class="h3">
        <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      </h1>
  {% endif %}
      <div class="grid">
        <div class="grid__item medium-up--six-tenths medium-up--push-two-tenths">
          {% if search.performed and search.results_count == 0 %}
            <div class="rte search--no-results-found">
              <p>{{ 'general.search.no_results' | t }}</p>
            </div>
          {% endif %}
          <form action="{{ routes.search_url }}" method="get" role="search" class="search-form search-page-form">
            <div class="input-group input-group--nowrap">
              <div class="input-group__field input-group__field--connected search-form__input-wrapper">
                <input
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}"
                  role="combobox"
                  aria-autocomplete="list"
                  aria-owns="predictive-search-results"
                  aria-expanded="false"
                  aria-label="{{ 'general.search.placeholder' | t }}"
                  aria-haspopup="listbox"
                  class="search-form__input"
                  data-search-page-predictive-search-input
                />

                <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
                <input type="hidden" name="type" value="product" />
                <button type="reset" class="search-form__clear-action" aria-label="{{ 'general.search.clear_search_term' | t }}" data-search-page-predictive-search-clear>
                  {% include 'icon-close' %}
                </button>

                <div class="predictive-search-wrapper" data-predictive-search-mount="default"></div>
              </div>

              <button type="submit" class="search-form__connected-submit" aria-label="{{ 'general.search.submit' | t }}" data-search-page-predictive-search-submit>
                {% include 'icon-search' %}
              </button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>

{% if search.results.size > 0 %}

  <div class="products-wrap">
    <div class="page-width2">

      {% paginate search.results by 12 %}

      {% if search.performed %}
        
        <ul class="collet-product">
          {% for item in search.results %}
            <li class="grid__item grid__item--collection-custom small--one-half medium-up--one-quarter">
              {% if item.object_type == 'product' %}
                {% include 'product-card-grid', max_height: 250, product: item, show_vendor: false %}
                <form action="/cart/add" method="post" id="product-form- {{ item.id }}">
                  <input type="hidden" name="id" value="{{ item.variants.first.id }}">
                  <div class="custom-add-to-cart">
                    <button class="cart-btn js-ajax-add-to-cart-collection" type="submit" name="add" data-url="{{ item.url }}">Add to cart {% include 'product-variants-search' %}</button>
                  </div>
                </form>
              {% else %}
                  <!-- not a product goes here -->
              {% endif %}
            </li>
          {% endfor %}
        </ul>

        {%- if paginate.pages > 1 -%}
          {% include 'pagination', paginate: paginate %}
        {%- endif -%}
      {% endif %}

      {% endpaginate %}
    </div>
  </div>
{% endif %}